/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 300px;
  margin: 0 auto;
}
ul{
  margin: 0px auto;
  list-style: none;
  overflow: hidden;
  padding: 0;
  width: 662px;
}
li{
  float: left;
  width: 94px;
  border: 1px solid black;
  height: 65px;
  list-style: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#clevelandDarkBlue{
  background: rgb(38,37,43);
}
#lakersBlue{
  background: rgb(68,65,146);
}
#orlandoLighterBlue{
  background: rgb(20,61,171);
}
#celticsGreen{
  background: rgb(46,141,83);
}

#lakersYellow{
  background: rgb(239,163,61);
}

#sunsOrange{
  background: rgb(255,122,17);
}

#miamiRed{
  background: rgb(130,15,18);
}

